.headings {
  font-size: 32px;
  font-weight: 600;
  margin-top: 20px;
  color: rgb(59, 52, 52);
}

.task-header {
  color: rgb(53, 52, 52);
  font-size: 28px;
  padding: 10px;
  border-bottom: 1px solid;
}
