.headings{
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 36px;
    padding: 20px;
    font-weight: 600;
    margin-top: 20px;
    text-align: center;
    text-decoration: underline;
}