.sections-container {
  display: flex;
  gap: 20px;
  justify-content: space-around;
  border: 1px solid red;
  height: 90vh;
  width: 90%;
  margin: auto;
}

.added-container {
  height: auto;
  border: 1px solid aliceblue;
  background-color: aliceblue;
  width: 30%;
}

.started-container {
  height: auto;
  border: 1px solid antiquewhite;
  background-color: antiquewhite;
  width: 30%;
}

.completed-container {
  height: auto;
  border: 1px solid greenyellow;
  background-color: yellowgreen;
  width: 30%;
}
